:root {
  --bg: linear-gradient(
    180deg,
    navy,
    blue,
    royalblue,
    skyblue,
    skyblue,
    powderblue
  );
  --text-color: white;
  --text: 4vh;
  --text-mini: 2vh;
  --btn-bg: blue;
  --btn-shadow: royalblue;
  --btn-txt: white;
  --title: 8vh;
}
.red {
  --bg: linear-gradient(180deg, maroon, red, orangered, pink, pink, lightpink);
  --text-color: black;
  --btn-bg: red;
  --btn-shadow: orangered;
  --btn-txt: black;
}
.blue {
  --bg: linear-gradient(
    180deg,
    navy,
    blue,
    royalblue,
    skyblue,
    skyblue,
    powderblue
  );
  --text-color: white;
  --btn-bg: blue;
  --btn-shadow: royalblue;
  --btn-txt: white;
}
body {
  justify-content: center;
  background: var(--bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* ========================================= */
.menu-bar {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.menu-bar span {
  text-align: center;
  font-weight: bold;
  font-size: var(--text-mini);
  color: var(--text-color);
}
/* ========================================= */
.home-cont {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 25vh;
  margin-bottom: 35vh;
}
.home h1 {
  text-align: center;
  color: var(--text-color);
  font-size: 12vh;
  margin-bottom: 10vh;
}
.home-btn-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.home-btn-cont span {
  text-align: center;
}
.home-btn-cont button {
  background-color: var(--btn-bg);
  padding: 20px;
  border: none;
  border-radius: 25px;
  color: var(--btn-txt);
  font-weight: bolder;
  transition: box-shadow 0.3s ease;
}
.home-btn-cont button:hover {
  box-shadow: 0 0 30px var(--btn-shadow);
}
/* ========================================= */
.about-cont {
  margin-left: 15vw;
  margin-right: 15vw;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
.about-cont-img {
  width: auto;
  height: 50vh;
  border: none;
  border-radius: 25px;
}
.about-txt {
  display: grid;
  grid-template-rows: 1fr 3fr;
  color: var(--text-color);
}
.about-img-box {
  color: var(--text-color);
  border: 10px var(--text-color) solid;
  border-radius: 25px;
  text-align: center;
}
.about-title {
  text-align: left;
  font-size: var(--title);
  font-weight: bold;
}
.about-desc {
  padding: 20px;
  text-align: left;
  font-size: var(--text);
  font-weight: bold;
}
/* ========================================= */
.footer-cont {
  margin-top: 500vh;
  margin-bottom: 50px;
  font-size: xx-large;
}
