:root {
  --bg: linear-gradient(
    180deg,
    navy,
    blue,
    royalblue,
    skyblue,
    skyblue,
    powderblue
  );
  --text-color: white;
  --text: 4vh;
  --text-mini: 2vh;
  --btn-bg: blue;
  --btn-shadow: royalblue;
  --btn-txt: white;
  --opp: black;
  --title: 8vh;
}
.red {
  --bg: linear-gradient(180deg, maroon, red, orangered, pink, pink, lightpink);
  --text-color: black;
  --btn-bg: red;
  --btn-shadow: orangered;
  --btn-txt: black;
  --opp: white;
}
.blue {
  --bg: linear-gradient(
    180deg,
    navy,
    blue,
    royalblue,
    skyblue,
    skyblue,
    powderblue
  );
  --text-color: white;
  --btn-bg: blue;
  --btn-shadow: royalblue;
  --btn-txt: white;
  --opp: black;
}
html {
  scroll-behavior: smooth;
}
body {
  justify-content: center;
  background: var(--bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: /*"Delius",*/ sans-serif;
  color: var(--text-color);
}
/* ========================================= */
.menu-bar {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.menu-bar span {
  text-align: center;
  font-weight: bold;
  font-size: var(--text-mini);
}
.menu-bar span a {
  color: var(--text-color);
  text-decoration: none;
}
/* ========================================= */
.home-cont {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 25vh;
  margin-bottom: 35vh;
}
.home h1 {
  text-align: center;
  font-size: 12vh;
  margin-bottom: 10vh;
}
.home-btn-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.home-btn-cont span {
  text-align: center;
}
.home-btn-cont button {
  background-color: var(--btn-bg);
  padding: 20px;
  border: none;
  border-radius: 25px;
  color: var(--btn-txt);
  font-weight: bolder;
  transition: box-shadow 0.3s ease;
}
.home-btn-cont button:hover {
  box-shadow: 0 0 30px var(--btn-shadow);
}
/* ========================================= */
.about-cont {
  scroll-margin-top: 100px;
  margin: 25vh;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
.about-cont-img {
  width: auto;
  height: 50vh;
  border: none;
  border-radius: 25px;
}
.about-txt {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.about-img-box {
  border: 10px var(--text-color) solid;
  border-radius: 35px;
  text-align: center;
}
.about-title {
  text-align: left;
  font-size: var(--title);
  font-weight: bold;
}
.about-desc {
  padding: 20px;
  text-align: left;
  font-size: var(--text);
  font-weight: bold;
}
/* ========================================= */
.contact {
  scroll-margin-top: 100px;
  margin-top: 25vh;
  margin-left: 25vh;
  margin-right: 25vh;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
}
.contact-title {
  text-align: left;
  font-size: var(--title);
  font-weight: bold;
}
.contact-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-icons a {
  color: var(--text-color);
}
.contact-icons i {
  font-size: 10vh;
}
.contact-icons i:hover {
  color: var(--opp);
}
.contact-email {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.mail-txt {
  font-size: var(--text);
  text-align: center;
}
.mail {
  font-size: var(--text);
  text-align: center;
}
.contact-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  background-color: var(--text-color);
  height: 1px;
  width: 90%;
  transform: translateY(-20px);
}

/* ========================================= */
.skills-cont {
  scroll-margin-top: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 25vh;
}
.skill-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 5vh;
  text-align: center;
}
.skill-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5vh;
  text-align: center;
}
.skill-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5vh;
  text-align: center;
}
.skills-title {
  text-align: left;
  font-size: var(--title);
  font-weight: bold;
}
.skills-cont img {
  width: 100px;
  height: auto;
}
.skills-cont img:hover {
  transform: scale(1.1);
}
/* ========================================= */
.footer-cont {
  margin-top: 500vh;
  margin-bottom: 50px;
  font-size: xx-large;
}
